@page "/"
@using PruebaTecnicaCursos.Client.Services
@using PruebaTecnicaCursosModels.Shared.Models
@inject Class ServicesApi

<h3>Cursos</h3>

@if (cursos == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <ul>
        @foreach (var curso in cursos)
        {
            <li>@curso.Nombre</li>
        }
    </ul>
}

@code {
    private List<Usuarios> cursos;

    protected override async Task OnInitializedAsync()
    {
        cursos = await ServicesApi.GetCursos();
    }
}
